body{
    margin: 0;
    background-color: white;
}

header{
    display: flex;
    color: white;
    background-color: #333;
    justify-content: space-evenly;
    align-items: center;
}

.menu{
    display: none;
    padding: 6px;
    transition: all 0.4s linear;
    border-radius: 16px;
}

.menu:hover{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    background-color: black;
    border-radius: 20px;
}

nav{
    display: flex;
    flex-direction: row;
}

a{
  color: black;
  text-decoration: none;
}

.MT{
  transition: all 0.2s linear;
  border-radius: 12px;
}

.MT:hover{
    transition: all 0.2s linear;
    background-color: #ccc;
    border-radius: 12px;
    padding: 0.1rem 0.5rem;
}

li{
  text-decoration: none;
}

nav ul{
    align-content: space-between;
    margin: 18px;
    padding: 21px;
    list-style: none;
}

nav ul a{
    color: white;
    justify-content: space-between;
    display:inline-block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    border-radius: 16px;
}

nav ul a:hover{
    color: #333;
    background-color: whitesmoke;
    border-radius: 16px;
}

.a{
    color: black;
    padding: 3px;
    text-decoration: none;
}

.OP{
    padding: 3px 2%;
    text-align: justify;
    background-color: white;
}

.flexbox-container1{
    padding: 15px;
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    background-color: whitesmoke;
}

.flexbox-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexbox-item{
    margin: 10px;
    padding: 6px;
    margin-top: 12px;
    flex-grow: 1;
}

.aside{
    min-height: 350px;
    margin: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    width: auto;
}

.heads{
    text-align: center;
    align-content: center;
    padding: 3px 21px;
}

.empresa{
    font-size: 14px;
}

.puesto{
    font-weight: bold;
    font-size: 15px;
}

.descripción{
    font-size: 13px;
}

.flexbox-item-1{
    width: 100%;
    height: min-content;
    text-align: left;
    flex-grow: 1;
}

.flexbox-item-2{
    width: 21%;
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-3{
    width: 21%;
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-4{
    width: 21%;
    flex-grow: 1;
    text-align: justify;
}

.flexbox-container2{
    padding: 15px;
    background-color:white;
    display: flex;
    flex-wrap: nowrap; 
    align-items: flex-start;
    justify-content: space-around;
}

.flexbox-item-5{
    width: 100%;
    height: min-content;
    text-align: center;
    flex-grow: 1;
}

.flexbox-item-6{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-7{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-8{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-9{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-10{
    flex-grow: 1;
    text-align: justify;
}

.MyWork{
  background-color: whitesmoke;
}

.flexbox-container3{
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
}

.flexbox-item-11{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-12{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-13{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-14{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-container4{
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-between;
}

.flexbox-item-15{
    flex-grow: 1;
    text-align: justify;
}

.flexbox-item-16{
    flex-grow: 1;
    text-align: justify;
}


footer{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color:  #ccc
}

.AFXS{
    font-size: .8em;
    color: rgb(68, 67, 67);
}

@media only screen and (max-width: 906px){ 
    header{
        flex-direction: column;
    }
    
    nav ul a{
        color: white;
        justify-content: space-between;
        display:block;
        padding: 6px;
        transition: all 0.4s linear;
        border-radius: 16px;
    }
    
    .menu{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin-bottom: 21px;
        transition: all 0.4s linear;
        border-radius: 16px;
    }
    
    nav ul{
        display: none;
    }
    
    .OP{
    text-align: justify;
    background-color: white;
    }
    
    nav ul.show{
        display: block;
    }

    .MyWork{
        background-color: whitesmoke;
    }

    .flexbox-container3{
        padding: 15px;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
    }

    .flexbox-container4{
        padding: 15px;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-between;
    }

}


@media only screen and (max-width: 1000px){ 

   
    .flexbox-container1{
        flex-wrap: wrap; 
        flex-direction: column;
    }

    .flexbox-container{
        flex-direction: column;
        width: 95%;
        flex-wrap: wrap;
        flex-flow: column;
        
    }
    
    .aside{
        min-width: 50%;
        height: 100%;
        
    }

    .flexbox-item-1{
        width: auto;
        flex-grow: 1;
        height: min-content;
        text-align: center;
    }
    
    .flexbox-item-2{
        width: auto;
        flex-grow: 0;
    }
    
    .flexbox-item-3{
        width: auto;
        flex-grow: 0;
    }
    
    .flexbox-item-4{
        width: auto;
        flex-grow: 0;
    }

    .OP{
    padding: 3px 5%;
    text-align: justify;
    background-color: white;
    }
  
    .flexbox-container2{
        padding: 30px;
        background-color:white;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-around;
    }
    
    .MyWork{
        background-color: whitesmoke;
    }

    .flexbox-container3{
        padding: 15px;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
    }

    .flexbox-container4{
        padding: 15px;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-between;
    }
    
}